#!/data/com.termux/files/usr/bin/bash

# Personal aliases
alias ssh-computer="ssh -p 8022 \"$COMPUTER_ADDRESS\"" \
   scp-computer="scp -pP 8022" \
   sftp-computer="sftp -pP 8022 \"$COMPUTER_ADDRESS\"" \
   rsync-computer="rsync --rsh=\"ssh -p 8022\"" \
   youtube-dl-video="youtube-dl --config-location ~/.config/youtube-dl/video.conf" \
   youtube-dl-audio="youtube-dl --config-location ~/.config/youtube-dl/audio.conf" \
   .aliases="$EDITOR ~/.aliases" \
   .auto_completion="$EDITOR ~/.auto_completion" \
   .bashrc="$EDITOR ~/.bashrc" \
   .bash_profile="$EDITOR ~/.bash_profile" \
   .bash_logout="$EDITOR ~/.bash_logout" \
   .bash_prompt="$EDITOR ~/.bash_prompt" \
   .functions="$EDITOR ~/.functions" \
   .git-credentials="$EDITOR ~/.git-credentials" \
   .gitattributes="$EDITOR ~/.gitattributes" \
   .gitconfig="$EDITOR ~/.gitconfig" \
   .inputrc="$EDITOR ~/.inputrc" \
   .export="$EDITOR ~/.export" \
   .nanorc="nano ~/.nanorc" \
   .vimrc="$EDITOR ~/.vimrc";

# General aliases
alias apply="source ~/.bashrc" \
   trigger-termux-session="am start -n com.termux/.filepicker.TermuxFileReceiverActivity -d file:///dev/null" \
   ls="ls --almost-all --color=auto" \
   grep="grep --color=auto" \
   diff="diff --color=auto" \
   rm="rm --interactive" \
   mv="mv --interactive" \
   cp="cp --interactive" \
   rename="rename --interactive" \
   imv="imv --interactive" \
   icp="icp --interactive" \
   nanorc="cd $NANORC; ls" \
   vimrc="cd $VIMRC; ls" \
   termux="cd $TERMUX; ls" \
   files="cd $FILES; ls" \
   etc="cd $ETC; ls" \
   bin="cd $BIN; ls" \
   prefix="cd $PREFIX; ls" \
   share="cd $SHARE; ls" \
   internal="cd $INTERNAL; ls";

if [ -v EXTERNAL ]; then
   alias external="cd $EXTERNAL; ls";

   if [ -v EXTERNAL_STORAGE ]; then
      alias external-storage="cd $EXTERNAL_STORAGE; ls";
   fi;
fi;

nanorc_filenames=($(find $SHARE/nano -maxdepth 1 -type f -name "*.nanorc"));
nanorc_basenames=($(basename --multiple ${nanorc_filenames[@]}));
nanorc=();

for i in ${!nanorc_basenames[@]}; do
   nanorc+=("${nanorc_basenames[i]}=nano ${nanorc_filenames[i]}");
done;

alias "${nanorc[@]}";
unset nanorc nanorc_filenames nanorc_basenames i;
