#!/usr/bin/bash

# Functional aliases
   alias apply="source ~/.bash_profile";
   # Open new session in hacky way.
   alias trigger-termux-session="am start -n com.termux/com.termux.filepicker.TermuxFileReceiverActivity -d file:///dev/null";
   alias ssh_computer="ssh -p 22 $computer_address";     # see `home/.path'.
   alias sftp_computer="sftp -P 22 $computer_address";   # see `home/.path'.
   alias ls="$PREFIX/bin/ls -A --color=auto";
   alias quit="exit 0; kill -9 $$";

# Shortcuts
   # general
   alias cls="clear; ls";
   alias clh="clear; cd; ls";
   alias cphp="clear; php";
   alias cbash="clear; bash";
   alias cpython="clear; python";
   alias cpython2="clear; python2";
   alias ctree="clear; tree";
   alias cfind="clear; find";
   alias cgrep="clear; grep";
   alias .nanorc="nano ~/.nanorc";
   alias .bashrc="nano ~/.bashrc";
   alias .bash_profile="nano ~/.bash_profile";

   # nano syntax highlighting
      alias php.nanorc="nano /data/data/com.termux/files/usr/share/nano/php.nanorc";
      alias bash.nanorc="nano /data/data/com.termux/files/usr/share/nano/bash.nanorc";
      alias c.nanorc="nano /data/data/com.termux/files/usr/share/nano/c.nanorc";
      alias python.nanorc="nano /data/data/com.termux/files/usr/share/nano/python.nanorc";
      alias txt.nanorc="nano /data/data/com.termux/files/usr/share/nano/txt.nanorc";

   # path
      alias internal="cd $internal; ls";
      alias external="cd $external; ls";
      alias external_storage="cd $external_storage; ls";
      alias nanorc="cd /usr/share/nano; ls";

# Git shortcuts
   # general
      alias ga="git add";
      alias gb="git branch";
      alias gco="git checkout";
      alias gcp="git cherry-pick";
      alias gcln="git clean";
      alias gcl="git clone";
      alias gcm="git commit";
      alias gcf="git config";
      alias gd="git diff";
      alias gdt="git difftool";
      alias gf="git fetch";
      alias gh="git help";
      alias gi="git init";
      alias gl="git log";
      alias gls="git ls-files";
      alias gm="git merge";
      alias gmv="git mv";
      alias gpl="git pull";
      alias gps="git push";
      alias grb="git rebase";
      alias grf="git reflog";
      alias gr="git reset";
      alias grmt="git remote";
      alias grst="git restore";
      alias grv="git revert";
      alias grm="git rm";
      alias gsh="git show";
      alias gsth="git stash";
      alias gs="git status";
      alias gsw="git switch";

   # With `clear' command
      alias cga="clear; git add";
      alias cgb="clear; git branch";
      alias cgco="clear; git checkout";
      alias cgcp="clear; git cherry-pick";
      alias cgcln="clear; git clean";
      alias cgcl="clear; git clone";
      alias cgcm="clear; git commit";
      alias cgcf="clear; git config";
      alias cgd="clear; git diff";
      alias cgdt="clear; git difftool";
      alias cgf="clear; git fetch";
      alias cgh="clear; git help";
      alias cgi="clear; git init";
      alias cgl="clear; git log";
      alias cgls="clear; git ls-files";
      alias cgm="clear; git merge";
      alias cgmv="clear; git mv";
      alias cgpl="clear; git pull";
      alias cgps="clear; git push";
      alias cgrb="clear; git rebase";
      alias cgrf="clear; git reflog";
      alias cgr="clear; git reset";
      alias cgrmt="clear; git remote";
      alias cgrst="clear; git restore";
      alias cgrv="clear; git revert";
      alias cgrm="clear; git rm";
      alias cgsh="clear; git show";
      alias cgsth="clear; git stash";
      alias cgs="clear; git status";
      alias cgsw="clear; git switch";
