#!/data/data/com.termux/files/usr/bin/bash

# This function used for comparing 2 files whether it is equal or not.
# Usage: compare [--] <file1> <file2>
function compare () {
   if cmp -s "$@"; then
      echo "TRUE";
   else
      echo "FALSE";
      return 1;
   fi;
}

# This function used for set session/terminal title.
# Usage: set_title <title>
function set_title () {
   echo -en "\e]0;$@\007";
}
