# Personal Git configuration
[user]
   name = zulfilham
   email = code.zulfilham@gmail.com

[core]
   editor = nano
   autocrlf = false
   eol = lf

   # uncomment this, to get rid of less' output after exiting
   # pager = less -+$LESS -R

[alias]
   add-all = add --all
   add-modified = add --update
   add-untracked = !git ls-files -z --others --exclude-standard | git add --pathspec-file-nul --pathspec-from-file=-
   log-graph = log --graph --date=local
   log-graph-all = log --all --graph --date=local
   log-verbose = log --graph --date=local --stat-width=81
   log-verbose-all = log --all --graph --date=local --stat-width=81
   log-oneline = log --oneline --date=local --graph
   log-oneline-all = log --all --oneline --date=local --graph
   ls-files-untracked = ls-files --exclude-standard --others
   ls-files-cached = diff --cached --name-only

[receive]
   denyCurrentBranch = warn

# General Git configuration
[core]
   autocrlf = false
   eol = lf

[pull]
   rebase = false
