include "/data/data/com.termux/files/usr/share/nano/*.nanorc"

unbind ^A all     #
unbind ^B all     #
unbind ^C all     #
unbind ^D all     #
unbind ^E all     #
unbind ^F all     #
unbind ^G all     #
unbind ^H all     #
# unbind ^I all   # unbind sama dengan tidak ada TAB.
unbind ^J all     #
unbind ^K all     #
unbind ^L all     #
# unbind ^M all   # unbind sama dengan tidak ada Enter.
unbind ^N all     #
unbind ^O all     #
unbind ^P all     #
unbind ^Q all     #
unbind ^R all     #
unbind ^S all     #
unbind ^T all     #
unbind ^U all     #
unbind ^V all     #
unbind ^W all     #
unbind ^X all     #
unbind ^Y all     #
unbind ^Z all     #

unbind M-0 all     #
unbind M-1 all     #
unbind M-2 all     #
unbind M-3 all     #
unbind M-4 all     #
unbind M-5 all     #
unbind M-6 all     #
unbind M-7 all     #
unbind M-8 all     #
unbind M-9 all     #
unbind M-A all     #
unbind M-B all     #
unbind M-C all     #
unbind M-D all     #
unbind M-E all     #
unbind M-F all     #
unbind M-G all     #
unbind M-H all     #
unbind M-I all     #
unbind M-J all     #
unbind M-K all     #
unbind M-L all     #
unbind M-M all     #
unbind M-N all     #
unbind M-O all     #
unbind M-P all     #
# unbind M-Q all   # unbind untuk mencari ke belakang.
unbind M-R all     #
unbind M-S all     #
unbind M-T all     #
unbind M-U all     #
unbind M-V all     #
# unbind M-W all   # unbind untuk mencari ke depan.
unbind M-X all     #
unbind M-Y all     #
unbind M-Z all     #

unbind F1 all     #
# unbind F2 all   # unbind akan menolak mengeksekusi.
unbind F3 all     #
unbind F4 all     #
unbind F5 all     #
unbind F6 all     #
unbind F7 all     #
unbind F8 all     #
unbind F8 all     #
unbind F9 all     #
unbind F10 all    #
unbind F11 all    #
unbind F12 all    #

bind F3 findnext main      # Mencari kata berikutnya dari menu utama.
bind F5 refresh main       # Memperbarui layar dari menu utama.

set smarthome                    # HOME juga ke awal baris yang bukan whitespace.
set tabsize 3                    # tabsize set menjadi 3.
set tabstospaces                 # Tab dikonversi menjadi spasi.
set nonewlines                   # Tidak otomatis menambahkan baris baru.
set constantshow                 # Menampilkan posisi kursor terus-menerus.
set suspendable                  # Boleh menangguhkan proses.
# set mouse                      # Nonaktifkan mode Mouse di Termux.
set zap                          # Boleh menghapus di dalam tanda.
set regexp                       # Otomatis menggunakan Regular Expression.
set casesensitive                # Otomatis menggunakan Case Sensitive.
set trimblanks                   # Menghapus whitespace di akhir baris (saat wrap atau justify).
set matchbrackets "(<[{`)>]}'"   # Mencari pasangan tanda kurung ((), [], {}, <>, `').
set fill 71                      # Membatasi lebar teks (saat wrap atau justify).
set afterends                    # Navigasi Ctrl + RIGHT_ARROW dan Ctrl + DELETE sampai akhir kata daripada awal kata.
set indicator                    # Mengaktifkan Penggulir.

bind ^C cancel all         # Membatalkan dari mana saja.

bind ^B help main          # Menampilkan bantuan dari menu utama.
bind ^C copy main          # Mengkopi dari menu utama.
bind ^D mark main          # Menandai dari menu utama.
bind ^F whereis main       # Mencari ke depan dari menu utama.
bind ^G gotoline main      # Mencari baris dari menu utama.
bind ^J justify main       # Membungkus paragraf dari menu utama
bind ^K zap main           # Menghapus dari menu utama.
bind ^L chopwordleft main  # Menghapus satu kata di belakang dari menu utama.
bind ^O writeout main      # Menyimpan sebagai dari menu utama.
bind ^R replace main       # Cari dan ubah dari menu utama.
bind ^P findbracket main   # Cari tanda kurung dari menu utama.
bind ^Q exit main          # Keluar dari menu utama.
bind ^S savefile main      # Menyimpan dari menu utama.
bind ^X cut main           # memotong dari menu utama.
bind ^U undo main          # Membatalkan dari menu utama.
bind ^V paste main         # Menempelkan dari menu utama.
bind ^X cut main           # Memotong dari menu utama.
bind ^Y redo main          # Mengulangi dari menu utama.
bind ^Z suspend main       # Menangguhkan dari menu utama.

bind M-C comment main      # Komentar dari menu utama.
bind M-I insert main       # Memasukkan dari menu utama.
bind M-M recordmacro main  # Merekam atau memberhentikan macro dari menu utama.
bind M-R runmacro main     # Menjalankan macro dari menu utama.
bind M-S softwrap main     # Bungkus baris dari menu utama.
