include "/data/data/com.termux/files/usr/share/nano/*.nanorc"

# Make the Home key smarter
set smarthome

# Use a tab size of 3 columns
set tabsize 3

# Convert typed tabs to spaces
set tabstospaces

# Don't automatically add a newline when a text does not end with one
set nonewlines

# Save the last hundred search strings and replacement strings and
# executed commands, so they can be easily reused in later sessions
set historylog

# Constantly display the cursor position in the status bar
set constantshow

# Allow nano to be suspended (with M-S)
set suspendable

# Enable mouse support, if available for your system
#set mouse

# Let an unmodified Backspace or Delete erase the marked region (instead
# of a single character, and without affecting the cutbuffer)
set zap

# Do regular-expression searches by default
set regexp

# Do case-sensitive searches by default
set casesensitive

# Remove trailing whitespace from wrapped lines when automatic
# hard-wrapping occurs or when text is justified
set trimblanks

# Set the opening and closing brackets that can be found by bracket
# searches
set matchbrackets "(<[{)>]}"

# Set the target width for justifying and automatic hard-wrapping at 72
# of columns
set fill 72

# Make Ctrl+Right stop at word ends instead of beginnings
set afterends

# Display a "scrollbar" on the righthand side of the edit window
set indicator

# Save a file by default in Unix format
set unix

unbind F1 main
unbind F11 main
unbind ^_ main
unbind ^\ main
unbind ^G insert
unbind F1 insert
unbind M-Q main

bind F2 findprevious all
bind F3 findnext all

bind ^B help all
bind ^D mark main

bind ^F whereis main
bind ^W wherewas main

bind ^G gotoline main
bind ^J justify main
bind ^K zap main
bind ^L refresh main
bind ^R replace main
bind ^P complete main

bind ^U undo main
bind ^Y redo main

bind ^X cut main
bind ^C copy main
bind ^V paste all

bind ^Q exit all
bind ^Z center main
bind M-C comment main
bind M-I insert main
bind M-S suspend main
bind M-W softwrap main
