include "/data/data/com.termux/files/usr/share/nano/*.nanorc"

set smarthome
set tabsize 3
set tabstospaces
set nonewlines
set historylog
set constantshow
set suspendable
# set mouse
set zap
set regexp
set casesensitive
set trimblanks
set matchbrackets "(<[{`)>]}'"
set fill 72
set afterends
set indicator
set unix

unbind F1 main
unbind F11 main
unbind ^_ main
unbind ^\ main
unbind ^G insert
unbind F1 insert
unbind M-Q main

bind F2 findprevious all
bind F3 findnext all

bind ^B help all
bind ^D mark main

bind ^F whereis main
bind ^W wherewas main

bind ^G gotoline main
bind ^J justify main
bind ^K zap main
bind ^L refresh main
bind ^R replace main
bind ^P complete main

bind ^U undo main
bind ^Y redo main

bind ^X cut main
bind ^C copy main
bind ^V paste all

bind ^Q exit all
bind ^Z center main
bind M-C comment main
bind M-I insert main
bind M-S suspend main
bind M-W softwrap main
